/*styles.css*/

WindowSample QLineEdit#ov_sample_name, WindowMethod QLineEdit#ov-profile-name {
	font-size: 18pt;
	border: 0;
	background-color: rgba(0,0,0,0);
}

QLabel#ov_sample_name {
	font-size: 18pt;
	padding-right: 2px;
}

QMainWindow#window-view-sample QLabel#ov_sample_name {
	padding-left: 0;
}

WindowViewSample QTextEdit {
	background-color: #eeeeee;
	border: 0;
}

QTableWidget::item QLabel {
	padding: 2px 6px;
}

WindowMain #sample-header {
	background-color: pink;
	border: 1px solid grey;
}

QWidget#runs-container QLabel, QWidget#steps-container QLabel  {
	background-color: none;
	padding: 2px 8px;
}

QWidget#runs-container QLabel#run-col-header {
	font-weight: bold;
}

QWidget#runs-container QLabel#run-cell-even, QWidget#steps-container QLabel#step-cell-even {
	background-color: white;
}

QWidget#runs-container QLabel#run-cell-odd, QWidget#steps-container QLabel#step-cell-odd {
	background-color: #dddddd;
}

QWidget#runs-container QLabel#run-cell-even-selected, QWidget#runs-container QLabel#run-cell-odd-selected, QWidget#steps-container QLabel#step-cell-even-selected, QWidget#steps-container QLabel#step-cell-odd-selected {
	background-color: #fcdf88;
}

QWidget#runs-container QCheckBox {
	padding-right: 8px;
}

