/*styles.css*/

QLineEdit#ov_sample_name, 
QLineEdit#ov-method-name {
	font-size: 18pt;
	border: 0;
	background-color: rgba(0,0,0,0);
}

QLabel#ov_sample_name {
	font-size: 18pt;
	padding-right: 2px;
}

QMainWindow#window-view-sample QLabel#ov_sample_name {
	padding-left: 0;
}

WindowViewSample QTextEdit {
	background-color: #eeeeee;
	border: 0;
}

QTableWidget::item QLabel {
	padding: 2px 6px;
}

WindowMain #sample-header {
	background-color: pink;
	border: 1px solid grey;
}

QWidget#runs-container QLabel, 
QWidget#steps-container QLabel  {
	background-color: none;
	padding: 2px 8px;
}

QWidget#runs-container QLabel#run-col-header {
	font-weight: bold;
}


QWidget#runs-container QLabel#run-even, 
QWidget#runs-container QLabel#run-rep-even, 
QWidget#runs-container QLabel#run-rep-even-last, 
QWidget#steps-container QLabel#step-cell-even {
	background-color: white;
	border-top: 1px solid black;
}

QWidget#runs-container QLabel#run-odd, 
QWidget#runs-container QLabel#run-rep-odd, 
QWidget#runs-container QLabel#run-rep-odd-last, 
QWidget#steps-container QLabel#step-cell-odd {
	background-color: #dddddd;
	border-top: 1px solid black;
}

QWidget#runs-container QLabel#run-odd, 
QWidget#runs-container QLabel#run-even {
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px dashed grey;
	margin-bottom: 10px;
}

QWidget#runs-container QLabel#run-rep-odd-last, 
QWidget#runs-container QLabel#run-rep-even-last {
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

QWidget#runs-container QLabel#selected-run-rep-odd, 
QWidget#runs-container QLabel#selected-run-rep-even, 
QWidget#runs-container QLabel#selected-run-rep-odd-last,
QWidget#runs-container QLabel#selected-run-rep-even-last, 
QWidget#steps-container QLabel#step-cell-even-selected, 
QWidget#steps-container QLabel#step-cell-odd-selected {
	background-color: #fcdf88;
	border-top: 1px solid black;
}

QWidget#runs-container QLabel#selected-run-rep-odd-last,
QWidget#runs-container QLabel#selected-run-rep-even-last {
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

WindowMethod QSplitter::handle {
	background-color: #dddddd;
}

QScrollArea#ov-graph-area {
	background-color: white;
}
